# === Android Studio / IntelliJ IDEA ===
*.iml
.gradle/
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
captures/
.externalNativeBuild/
.cxx/

# === Python & PyCharm ===
# Virtual environments
.venv/
venv/

# PyCharm specific
.idea/

# Bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Logs and environments
*.log
*.env

# Jupyter Notebooks checkpoints (if used)
.ipynb_checkpoints/

.idea/misc.xml
